<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FELCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FELCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FELCOM.Properties.Settings>
            <setting name="CarpetaRaiz" serializeAs="String">
                <value>C:\FELCOM\</value>
            </setting>
            <setting name="CarpetaProcesados" serializeAs="String">
                <value>C:\FELCOM\Procesados\</value>
            </setting>
            <setting name="CarpetaErrores" serializeAs="String">
                <value>C:\FELCOM\Errores\</value>
            </setting>
            <setting name="CarpetaRespuestas" serializeAs="String">
                <value>C:\FELCOM\Respuesta\</value>
            </setting>
            <setting name="TiempoSegundosEscaneo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="URLWS" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioWS" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWS" serializeAs="String">
                <value />
            </setting>
            <setting name="CuentaCorreo" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioCorreo" serializeAs="String">
                <value />
            </setting>
            <setting name="PassCorreo" serializeAs="String">
                <value />
            </setting>
            <setting name="ServidorSMTP" serializeAs="String">
                <value />
            </setting>
            <setting name="PuertoSMTP" serializeAs="String">
                <value />
            </setting>
            <setting name="PeticionesParalelas" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CarpetaProcesando" serializeAs="String">
                <value>C:\FELCOM\Procesando\</value>
            </setting>
            <setting name="EscanerSwitch" serializeAs="String">
                <value>False</value>
            </setting>
        </FELCOM.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FELCOM.Properties.Settings>
            <setting name="FELCOM_ekomercio_WSFEBuilder" serializeAs="String">
                <value>http://pruebassalvador.ekomercio.com/WSFEBuilderSV_GLOBALIMENTOS/WSFEBuilderSV.asmx</value>
            </setting>
        </FELCOM.Properties.Settings>
    </applicationSettings>
</configuration>