<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModuloTelefonos.My.MySettings.oConSQL" connectionString="Data Source=ZEUS\WMS;Initial Catalog=INVENTARIO;Persist Security Info=True;User ID=userNETApps;Password=Gum@2019;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="ModuloTelefonos.My.MySettings.INVENTARIOConnectionString2"
      connectionString="Data Source=ZEUS\WMS;Initial Catalog=INVENTARIO;Persist Security Info=True;User ID=userNETApps;Password=Gum@2019" />
    <add name="ModuloTelefonosEntities" connectionString="metadata=res://*/Modelos.ModuloTelefonosModel.csdl|res://*/Modelos.ModuloTelefonosModel.ssdl|res://*/Modelos.ModuloTelefonosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZEUS\WMS;initial catalog=INVENTARIO;persist security info=True;user id=userNETApps;password=Gum@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>